<div>
  {{range $a := .}}
  <ul style="list-style: none;">
    <li>
      Version: {{$a.Version}} <br />
      {{if $a.Supported}}
        Supported
      {{else}}
        <div style="color: #ff0000">NOT supported</div>
      {{end}}
    </li>
    {{if $a.Supported}}
      Ciphers supported:
      <ul style="list-style: none;">
        {{range $a.Sciphers}}
            <li>
              {{.}}
            </li>
        {{end}}
      </ul>
      Ciphers  NOT supported:
      <ul style="list-style: none;">
        {{range $a.Nciphers}}
            <li>
              {{.}}
            </li>
        {{end}}
      </ul>
    {{end}}
  </ul>
  {{end}}
  Check another host: <br />
  <form action="/" method="POST">
    <div>
      hostname <input type="text" name="host" size="120">
    </div>
    <div><input type="submit" value="Send"></div>
  </form>

  <a href="/">Back</a>
</div>
